
/** HEADER NAVBAR **/
#nav{
	background-color: blue !important;
	border:2px solid black;

}



h1{
	color: gray;
}


h2{
	text-align: center;
}

 #main-content{
 	background: gray;
 	color: black;
 	margin: auto auto auto auto;
 
 }


/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

